<p id="notice"><%= notice %></p>

<p>
  <strong>Model:</strong>
  <%= @car.model %>
</p>

<p>
  <strong>Year:</strong>
  <%= @car.year %>
</p>

<p>
  <strong>Chassis:</strong>
  <%= @car.chassis %>
</p>

<p>
  <strong>Description:</strong>
  <%= @car.description %>
</p>

<%= link_to 'Edit', edit_car_path(@car) if logged_in?(:site_admin)%> |
<%= link_to 'Back', garage_path %>
